.EmployeeDetails {
	width: 60%;
	height: auto;
	margin-left: 20%;
	margin-top: 10%;
	background-color: blanchedalmond;
}

.Edit {
	color: rgba(7, 1, 1, 0.205);
	cursor: pointer;
}

.Delete {
	color: maroon;
	cursor: pointer;
}

.Cancel {
	color: maroon;
	cursor: pointer;
	float: right;
}

.Delete:hover,
.Edit:hover,
.Cancel:hover {
	color: black;
}
